.nav-bar {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    align-items: center;
    height: 70px;

    .nav-links-containers {
        display: flex;

        .nav-link {
            margin-left: 30px;
        }
    }
}