.nav-bar {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    align-items: center;
    height: 70px;

    .nav-links-containers {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .nav-link {
            padding: 10px 15px;
            cursor: pointer;
        }
    }
}